@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Nos alegra mucho tenerte aquí! Siéntete libre de explorar todo lo que nuestro sitio tiene para ofrecer.</h1>
   <img src=""  
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <img src="https://us.123rf.com/450wm/waichi2013th/waichi2013th2209/waichi2013th220900124/192740335-fondo-geom%C3%A9trico-colorido-dise%C3%B1o-de-fondo-de-color-ne%C3%B3n-composici%C3%B3n-de-formas-din%C3%A1micas-fondos.jpg?ver=6" alt="descripcion-de-tu-imagen" />
</div>